@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);








#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .navbar-brand {
  font-size: 24px;
}
#menu-0 .nav-link {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#header1-1 .btn {
  font-family: 'Oswald', sans-serif;
}
#header1-1 H1 {
  color: #f9b823;
  font-size: 80px;
  text-align: right;
  font-family: 'Lora', serif;
}
#header1-1 P {
  color: #e4a820;
  text-align: right;
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#content5-2 .mbr-section-title {
  color: #3d0878;
  text-align: center;
  font-size: 60px;
}
#content5-2 .mbr-section-title B {
  font-size: 60px;
}
#content5-2 P {
  font-size: 36px;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: left;
  color: #250a45;
}
#content5-3 .mbr-section-title {
  color: #3d0878;
  text-align: center;
  font-size: 60px;
}
#content5-3 .mbr-section-title B {
  font-size: 60px;
}
#content5-3 P {
  font-size: 36px;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  color: #3d0878;
}
#content5-5 .mbr-section-title {
  color: #3d0878;
  text-align: left;
  font-size: 46px;
}
#content5-5 .mbr-section-title B {
  font-size: 60px;
}
#content5-5 P {
  font-size: 46px;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: left;
  color: #3d0878;
}
#contacts1-6 B {
  font-size: 24px;
  color: #f1c050;
}
#contacts1-6 STRONG {
  font-size: 24px;
  color: #f1c050;
}
#contacts1-6 P {
  font-size: 21px;
  color: #f1c050;
}
#contacts1-6 DIV {
  color: #f1c050;
}
#contacts3-9 P {
  font-size: 21px;
  color: #cfeff6;
}
#contacts3-9 STRONG {
  color: #f9b823;
  font-size: 24px;
}
#contacts3-9 B {
  color: #f1c050;
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts3-9 I {
  font-size: 19px;
}
#contacts3-9 UL {
  color: #f9b823;
  font-size: 21px;
}
